@import 'normalize.css';
@import 'navigation.css';
@import 'hero.css';

@font-face {
    font-family: 'NoirMedium';
    src: url('../fonts/NoirPro-Medium.woff2') format('woff2'),
    url('../fonts/NoirPro-Medium.woff') format('woff');
}

@font-face {
    font-family: 'NoirLight';
    src: url('../fonts/NoirPro-Light.woff2') format('woff2'),
    url('../fonts/NoirPro-Light.woff') format('woff');
}

* {
    --main-text-color: #ffffff;
    --spacing-header: 0.3em;
}

body {
    position: relative;
    color: var(--main-text-color);
    font-size: 16px;
    font-family: 'NoirMedium', sans-serif;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

li {
    list-style-type: none;
}


.btn {
    letter-spacing: 0.15em;
    display: inline-block;
    margin: auto auto;
}

.wrapper {
    margin: auto 100px;
    position: relative;
}

